[Unit]
Description=Simulation service

[Service]
ExecStart=/home/user/ICS-lab/simulation/run.sh
WorkingDirectory=/home/user/ICS-lab/simulation

[Install]
WantedBy=multi-user.target